html{margin:100px 50px}

$receiptTest: false;

@page {
	margin: 0cm 0cm 0cm 0cm;
	    // size: A4 portrait; set on php
}


body {
	.line{
		border-collapse: collapse;
		border-top: 1px solid black;
		width: 100%;
	}
	.line-dotted{
		border-collapse: collapse;
		border-top: 1px dotted black;
		width: 100%;
	}

	.tr-blank{
		height: 10px;
		td{
			height: 10px;
		}
	}

	.td-label-right{
		text-align: right;
	}

	.td-label {
		// background: #1d68a7; // color debug
		font-weight: bold;
		vertical-align: top;
		width: 18%;
		@if $receiptTest {
			border: 1px solid black;
		}
	}

	.td-val {
		vertical-align: top;
		word-wrap: break-word;

		@if $receiptTest {
			border: 1px solid black;
		}
	}

	font-family: "Nunito", sans-serif;
	font-size: 12px;
	// border: 1px solid black;

	/** Define now the real margins of every page in the PDF **/
	margin-top:     6cm;
	margin-left:      -1.5cm;
	margin-right:     -1.5cm;
	margin-bottom:    0cm;

	/** Define the header rules **/
	header {
		position: fixed;
		top: -1cm;
		left: 0cm;
		right: 0cm;
		height: 6.5cm;

		@if $receiptTest {
			background: #98dfb6;    // color debug	
		}
		

		.ff-receipt-antet {
			border-top: 1px solid black;
			border-collapse: collapse;
			width: 100%;

			.td-av-cabinet{
				text-align: left;
				width: 60%;
				div {
					padding-left: 5mm;
					@if $receiptTest {
						background-color: coral;	
					}
				}
			}

			.td-receipt-doc{
				text-align: left;

				width: 40%;
				div {
					padding-left: 3mm;
					@if $receiptTest {
						background-color: lavenderblush;	
					}
				}
			}

			.table-antet-receipt {
				width: 100%;

				.td-label-antet-recipt {
					// background: #1d68a7; // color debug
					font-weight: bold;
					vertical-align: top;
					width: 5%;
					@if $receiptTest {
						border: 1px solid black;
					}
				}


				@if $receiptTest {
					border: 1px solid black;
				}
			}

			.td-antet-receipt {
				vertical-align: top;
				padding-left: 3mm;	
				@if $receiptTest {
					background-color: greenyellow;	
				}
				tr{
					@if $receiptTest {
						border: 1px solid black;
					}
				}

				
				.td-signature{
					display: inline-block;	
					.signature {
						position: relative;
						width: 35mm;
						height: 15mm;
						border: 1px solid black;
						margin-left: 20mm;
						@if $receiptTest {
							background-color: crimson;	
						}
						.div-text {
							position: absolute;
							bottom: 0;
							left: 2mm;
						}
					}
				}

				
				
			}


		}


		.ff-receipt-content{
			width: 100%;

			.td-label {
				// background: #1d68a7; // color debug
				font-weight: bold;
				vertical-align: top;
				width: 20%;
				@if $receiptTest {
					border: 1px solid black;
				}
			}

			.td-val {
				vertical-align: top;
				word-wrap: break-word;
		
				@if $receiptTest {
					border: 1px solid black;
				}
			}

		}


	}

	main {
		font-family: "Nunito", sans-serif;	// doar pentru a nu fi un empty {}		
	}

	/** Define the footer rules **/
	footer {
		position: fixed;
		bottom: -2cm;
		left: 0cm;
		right: 0cm;
		height: 1cm;
		// background: #e9605c;        // color debug
	}
}





