@import "_mixins";

// Variables
@import 'variables';
@import "tab";
@import "toolbar";
@import "textField";
@import 'navbar';
@import 'button';
@import "alertWindow";
@import "dropdown";
@import "table";
@import "form";
@import "windowsLogin";
@import "grid";
@import "lista";


body, html {
	font-family: Nunito, Tahoma, sans-serif;
	font-size: 12px;
    margin:0px;
    //height: 100vh;
    //width: 100vw;
    // background: darkviolet;

}
.ff-workbench{
	//padding-left: 3px;
	//padding-right: 3px;
    //position: relative;
    //z-index: -1;
    // width: 100vh;
    height: $wokbenchHeight;
    background: $ff-background-color-wokbench;
}
