
$ff-caption-height: 20px;

.ff-form {
	// margin: 0 auto;
	// margin: 200px auto;
	// position: absolute;  // for draggale
	position: relative;  // for draggale inside to other element

	z-index: 10000;
	border: 1px solid darken(map-get($ff-modal-window, "caption-color"), 10%);
	box-shadow: 2px 2px 10px #8e8e8e;
	height: auto;
	display: none;
    background-color:	map-get($ff-modal-window, "background-color");

	.form-header {
		background-color: darken(map-get($ff-modal-window, "caption-color"), 10%);
		height: $ff-caption-height;
		cursor: move;

		.caption {
			float: left;
			color: map-get($ff-modal-window, "caption-color-font");
            display: inline-block;
            padding-left: 10px;

            // vertical center height
            line-height: $ff-caption-height; vertical-align: middle;
        }

		.closeButton {
			float: right;
			color: map-get($ff-modal-window, "caption-color-font");
            padding-right: 8px;
			cursor:pointer;

            // vertical center height
            line-height: $ff-caption-height; vertical-align: middle;
		}
	}

	.form-content{
        padding: 5px;
	}

	.form-button{
        width: 100%;
        display: inline-block;
        .buttons{
            float: right;
            padding: 10px;
        }
	}

	.form-bottom-line {
		background-color: darken(map-get($ff-modal-window, "caption-color"), 10%);
		height: 6px;
        float: bottom;
	}

}

.ff-form-modal {
	position: relative;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(179, 179, 179, 0.5);
	// display: table;
	display: none;
    // display: inline-block;
	transition: opacity 0.3s ease;
}


// tabela pentru aranjarea controalelor in formular
.ff-form-table{
	// border: 1px solid orangered;
	border-collapse: collapse;

	.label-right{
		//border: 1px solid blue;
		text-align: right;
        padding-right: 5px;
        color: $ff-font-label-formular;


	}

    .label-left{
        //border: 1px solid blue;
        text-align: left;
        color: $ff-font-label-formular;
        padding-right: 5px;

    }

    .bold{
        font-weight: bold;
    }

	.control{
        //border: 1px solid blue;
	}

    .controlRight{
        text-align: right;
    }

}


// pentru formular in tab
.ff-form-tab{
    position: relative;
    margin-top: 8px;
    z-index: 100;
    // border: 1px solid darken(map-get($ff-modal-window, "caption-color"), 10%);
    height: auto;
    display: block;
    background-color:	map-get($ff-modal-window, "background-color");

    .loading-modal {
        display: block;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
        text-align: center;

        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .form-title{
        .antet {
            .buttons-container{
                display: inline-flex;
                .prime-button {
                    margin-left: 12px;
                }
                .next-button {
                    margin-left: 6px;
                }

                .last-button {
                    margin-right: 6px;
                }
            }
            .title{
                display: inline-flex;
                margin-left: 5px;
                margin-bottom: 5px;
                padding: 4px;
                padding-right: 20px;
                border: 1px solid lighten(map_get($ff-tab, 'background-color'), 30%);
                box-shadow: 2px 2px 4px -4px darken($ff-base, 70%);
                border-radius: 4px;
                background-color: lighten(map_get($ff-tab, 'background-color'), 40%);
            }

        }
    }

    .form-content{
        padding: 5px;

        .line {
            border-top: 1px solid #78909c;
            padding-bottom: 10px;
        }
    }

    .form-button{
        width: 100%;
        display: inline-block;
        .buttons{
            margin-right: 20px;
            float: right;
            padding: 5px;
        }

        .buttons-left{
            margin-right: 20px;
            float: left;
            padding: 5px;
        }
    }

    .form-rezumat-right {
        display: inline-block;
        float: right;
    }

    .form-bottom-line {
        // background-color: darken(map-get($ff-modal-window, "caption-color"), 10%);
        background-color: map-get($ff-tab,"selected-color");


        height: 6px;
        float: bottom;
    }

}


.ff-flex-form {
    //background: #f6993f;
    display: flex;
    width: fit-content;
    padding-bottom: 10px;

    &-end-align {
        @extend .ff-flex-form;
        align-items: end;
    }
    &-center-align {
        @extend .ff-flex-form;
        align-items: center;
    }

    .item {
        display: flex;
        .label {
            //background: #f6993f;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 7px;
            padding-bottom: 2px;
        }
        .control{
            //background: #e3342f;
            padding-right: 10px;

            .label-bold {
                font-weight: bold;
            }
        }
    }

    .item-inline {
        @extend .item;
        flex-direction: row;
        align-items: center;
    }

    .item-column {
        @extend .item;
        flex-direction: column;
    }

}
