.ff-lista {
    .container {
	    display: grid;
	    // background: yellow;


        .tableClass {
	        border-collapse: collapse;
	        table-layout: fixed;

            .theadClass {
                background: $ff-base;
                position: sticky;
                top: 0;

                .thClass {
                    border: 1px solid darken($ff-base, 20%);
                    font-size: map-get($ff-grid, "header-font-size");
                    font-weight: normal;
                    color: #FFFFFF;
                    padding: 5px;
                }
            }

            .tbodyClass {

	            .trClass {

			        &:hover {
				        background: lighten($ff-hover-color, 35%);
				        // cursor: pointer;
			        }
		            .tdClass {
			            .tdDiv{
				            white-space: nowrap;
				            overflow: hidden;
				            text-overflow: ellipsis;
							padding: 2px;

			            }
		            }
	            }
            }

	        tr {
		        &:nth-child(even) {
			        background: lighten($ff-base, 50%);
		        }
	        }


        }
    }
}
