$ff-popup-caption-height: 20px;

.ff-popup {
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(179, 179, 179, 0.5);
	//display: table;
	display: none;
	//display: inline-block;
	transition: opacity 0.3s ease;

	.ff-popup-container {
		position: absolute;
		z-index: 99;
		left: 50%;
		top: 40%;
		background: $ff-background-color-wokbench;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

		.title {
			background-color: darken(map-get($ff-modal-window, "caption-color"), 10%);
			color: map-get($ff-modal-window, "caption-color-font");
			height: $ff-popup-caption-height;

			.caption {
				display: inline;
				padding-left: 10px;
				vertical-align: middle;
			}
			.closeButton {
				float: right;
				cursor:pointer;
				margin-right: 6px;
				span{
					vertical-align: middle;
				}
			}
		}
		.content {
			display: block;
		}
		.bottom {}
	}
}



